.container {
  max-width: 1440px;
  padding: 0 75px;
  margin: 0 auto;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}
header,
body,
main {
  width: 100%;
}
span {
  background-color: yellow;
}
