<header>
  <div class="container header">
    <form action="" (submit)="onFormSubmit(searchResult.value)" class="form">
      <label for="search" class="label">Filter by keywords</label>
      <!-- <svg class="search-svg">
        <use href="./images/icons.svg#icon-search"></use>
      </svg> -->
      <input
        id="search"
        type="text"
        name="search"
        #searchResult
        class="input"
        placeholder="Enter your search"
      />
    </form>
  </div>
</header>
<main>
  <div class="container main">
    <p *ngIf="searchResults.length > 0" class="results-counter">
      Results: {{ searchResults.length }}
    </p>
    <ul class="list">
      <li *ngFor="let result of searchResults" class="list-item">
        <div class="thumb">
          <img
            src="{{ result.image_url }}"
            alt="{{ result.title }}"
            class="pic"
          />
        </div>
        <div class="list-text-part">
          <div class="list-item-text">
            <div class="date-cover">
              <!-- <svg class="date-svg">
                <use href="../../../images/icons.svg#icon-calendar"></use>
              </svg> -->
              <p class="date">{{ formatDate(result.published_at) }}</p>
            </div>
            <h2
              class="title"
              [innerHTML]="formatHighlightedText(result.title, searchArr)"
            ></h2>
            <p
              class="summary"
              [innerHTML]="
                formatHighlightedText(
                  truncateText(result.summary, 100),
                  searchArr
                )
              "
            ></p>
          </div>

          <button type="button" class="more-btn" (click)="openArt(result.id)">
            Read more
            <!-- <svg class="right-svg">
              <use href="../../../images/icons.svg#icon-right"></use>
            </svg> -->
          </button>
        </div>
      </li>
    </ul>
    <div class="art-cont" *ngIf="isOpen">
      <article class="article">
        <div class="art-thumb">
          <img
            src="{{ result?.image_url }}"
            alt="{{ result?.title }}"
            class="art-pic"
          />
        </div>
        <div class="art-text">
          <h2 class="art-heading">{{ result?.title }}</h2>
          <p class="art-sum">{{ result?.summary }}</p>
        </div>
        <button type="button" (click)="closeArt()" class="art-btn">
          <!-- <svg class="left-svg">
            <use href="../../../images/icons.svg#icon-left"></use>
          </svg> -->
          Back to homepage
        </button>
      </article>
    </div>
  </div>
</main>
