.header {
  padding-top: 50px;
  margin-bottom: 40px;
}
.container.main {
  position: relative;
}
.label {
  display: block;
  color: #363636;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}
.input {
  display: block;
  max-width: 600px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
  padding-left: 15px;
}
.results-counter {
  color: #363636;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.list-item {
  width: 400px;
  // height: 530px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
  // padding: 25px;
}
.list-text-part {
  padding: 25px;
}
.thumb {
  width: 100%;
  height: 217px;
}
.pic {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.list-item-text {
  padding-top: 25px;
}
.date {
  color: #363636;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  opacity: 0.6;
  margin-bottom: 24px;
}
.title {
  color: #363636;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.summary {
  color: #363636;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 20px;
}
.more-btn {
  display: block;
  border: none;
  color: #363636;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  background-color: transparent;
  cursor: pointer;
}
.art-cont {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}
.article {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.art-thumb {
  width: 100%;
  height: 245px;
}
.art-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.art-text {
  max-width: 1290px;
  padding: 35px 75px 50px 75px;
  position: absolute;
  top: 150px;
  left: 75px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.art-heading {
  color: #363636;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 50px;
}
.art-sum {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.art-btn {
  color: #363636;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-left: 168px;
  background-color: transparent;
  border: none;
}
.red {
  background-color: yellow;
}
.search-svg {
  fill: #000;
  stroke: #000;
}
