<header>
  <div class="container">
    <form action="" (submit)="onFormSubmit(searchResult.value)">
      <label for="search">Filter by keywords</label>
      <input id="search" type="text" name="search" #searchResult />
    </form>
  </div>
</header>
<main>
  <div class="container">
    <p>Results: {{ searchResults.length }}</p>
    <ul>
      <li *ngFor="let result of searchResults">
        <img src="{{ result.image_url }}" alt="{{ result.title }}" />
        <h2>{{ result.title }}</h2>
      </li>
    </ul>
  </div>
</main>
